body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #fce4ec;
  color: #333;
  background-image: url(https://i.pinimg.com/originals/a1/c4/5f/a1c45f0c8dc75b1511509e20e2ea4910.jpg);
}


.chat-container {
  max-width: 400px;
  margin: 50px auto;
  background-color: #9e8383;
  border-radius: 90px;
  box-shadow: 0 0 1000px rgb(255, 0, 183);
  overflow: hidden;
  padding: 20px;
  opacity: 0.8;
  transition: all 1s ;
  color :rgb(255, 254, 254)
  }
  .chat-container:hover {
    box-shadow: 0 0 50px rgb(212, 0, 255);
    opacity: 1;
    border-radius: 10px;
    background-color: #ffffff;
    color :rgb(0, 0, 0)
  }

h1 {
  color: #f60052;
  animation: fadeInUp 1s ease-out; /* Add animation to the heading */
}

.chat-box {
  height: 300px;
  overflow-y: auto;
}

input {
  width: 70%;
  padding: 10px;
  margin: 10px;
  border: 1px solid #ff4081;
  border-radius: 4px;
  box-shadow: 0 0 10px rgba(144, 43, 165, 0.689);
}
input :hover {
  border-radius: 4px;
  box-shadow: 0 0 10px rgb(255, 10, 10);
}

button {
  width: 25%;
  padding: 10px;
  margin: 10px;
  background-color: #ff4081;
  color: #fff;
  border: none;
  border-radius: 20px;
  cursor: pointer;
}

button:hover {
  border-radius: 60px;
  background-color: #ff0202;
  box-shadow: 0 0 10px rgb(214, 10, 255);
}

@media screen and (max-width: 600px) {
  body {
    font-size: 14px;
  }

  .chat-container {
    max-width: 100%;
    margin: 10px;
  }
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
